<div class="container-fluid">
      <div style="margin-bottom: 45px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
      <h4 >Server Log</h4>
    </div>
  <div class="text-center">
      <a  class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/stubs/clear_server_log">Clear Logs</a> 
  </div> </br>
  <img id="refresh"  style="width:5.5%" src="/assets/refresh.png">
  <img id="indicator" style="display: none;" src="/assets/ajax-loader.gif"></div>
  <div class='log'></div>
</div>
 
<script type="text/javascript">

  
  $(document).ready(function(){
    
    url = '/stubs/poll_server_log';

    $("#refresh").click(function(){
        get_log();
    });

   function get_log()
    {
      $('#indicator').css("display", "inline-block");
      $.ajax({
        url: url, 
        success: function(data) {
            $('#indicator').css("display","none");
            $('.log').css("display","block");
            $('.log').fadeIn(2000);
            $('.log').html(data);
          }
       });
      }
      get_log();
    });

</script>
